## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.6
  - nightly
notifications:
  email: false
git:
  depth: 99999999
matrix:
  allow_failures:
  - julia: nightly
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - cd $HOME; if [[ ! -d cmdstan ]]; then git clone https://github.com/stan-dev/cmdstan.git; fi
  - cd $HOME/cmdstan; git checkout v2.16.0; make stan-update; make build
  - export CMDSTAN_HOME=$HOME/cmdstan
  - cd $TRAVIS_BUILD_DIR
  - julia -e 'Pkg.clone(pwd()); Pkg.build("DiffEqBayes")'
  - julia -e 'Pkg.clone("https://github.com/tpapp/ContinuousTransformations.jl.git"); Pkg.build("ContinuousTransformations")'
  - julia -e 'Pkg.clone("https://github.com/tpapp/DiffWrappers.jl.git"); Pkg.build("DiffWrappers")'
  - julia -e 'Pkg.clone("https://github.com/tpapp/DynamicHMC.jl.git"); Pkg.build("DynamicHMC")
  - julia -e 'Pkg.test("DiffEqBayes"; coverage=true)'
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("DiffEqBayes")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("DiffEqBayes")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
